/*-- Start of node flow --*/
*{
    box-sizing: border-box;
    margin: 2px;
}
body{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    font-family: sans-serif;
}
.father{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
h1{
    color: darkred;
}
img{
    width: 400px;
}
#thirdDiv{
    background-color: lightblue;
    height: 600px;
    width: 500px;
}
#spanId{
    border: 2px solid black;
    border-radius: 10%;
    font-size: 18px;
    margin: 50px;
    padding: 50px;
}
